/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    margin: 10px;
}

/* Game Board Styles */
#gameBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.letterBox {
    width: 50px;
    height: 50px;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    margin: 4px;
    background-color: #fff;
}

.letterBox:last-child {
    margin-right: 0;
}

.guessRow {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-wrap: nowrap;
}

/* Keyboard Styles */
#keyboard {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 2%;
}

.keyboardRow {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    flex-wrap: wrap;
}

#bottom-row {
  heigh
}

.key {
    min-width: 5%;
    margin: 5px;
    border: none;
    background-color: #777;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    width: 7%;
    margin: 2px;
    padding: 10px 1px;
    font-size: 20px;
    min-height: 30px;
}

#resetButton, #bottom-row {
    padding: 5px 5px;
    min-width: 15%;
    margin: 5px;
    border: none;
    background-color: #777;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
    min-height: 5%;
}

.key:active {
    background-color: #555;
}

/* Feedback Colors */
.correct, .key.correct { background-color: #4CAF50; color: white; }
.present, .key.present { background-color: #b59f3b; color: white; }
.absent, .key.absent { background-color: #ccc; color: white; }
.key.not-in-word { background-color: #ccc; color: white; }
.key.in-word { background-color: #4CAF50; color: white; }
.key.out-of-place { background-color: #b59f3b; color: white; }

/* Mobile Styles */
@media (max-width: 600px) {
    .letterBox {
        width: 50px;
        height: 50px;
        margin: 4px;
        font-size: 3.5vw;
    }

    .key {
        width: 7%;
        margin: 2px;
        padding: 10px 1px;
        font-size: 3.5vw;
        min-height: 30px;
    }

    .keyboardRow {
        justify-content: center;
        margin-bottom: 5px;
        width: 100%;
    }

    .guessRow {
        justify-content: center;
        flex-wrap: nowrap;
    }
}
